---
import Loader from "../../components/Loader.astro"

Astro.redirect("/blog/client-side-routing")
---

<h1>Sorry, this article moved!</h1>

<Loader />

<script>
  window.location.replace("/blog/client-side-routing")
</script>
