---
import Layout from "../layouts/Layout.astro"
let Others = ["Home", "Blog", "Portfolio", "About"]
---

<Layout now="Nowhere" others={Others} title="Nowhere">
  <div
    class="flex flex-col items-center justify-center min-h-screen m-auto text-center"
  >
    <h1 class="text-4xl font-bold">
      Dang it, this page doesn't exist! Did you break my site? 🤔
    </h1>
  </div>
</Layout>
