---
import Layout from "../layouts/Layout.astro"
let others = ["Home", "Blog", "Contact", "Portfolio"]

const cookie = Astro.cookies.get("user").value

const user = cookie
  ? JSON.parse(cookie)
  : {
      name: "Jesse Pence",
      avatar_url: "https://avatars.githubusercontent.com/u/102560332?v=4",
    }

const image = user.avatar_url
---

<Layout
  title="All about the man, the myth, the legend"
  now="About"
  others={others}
>
  <main class="min-h-screen">
    <h1
      class="text-4xl pt-4 font-bold text-center text-purple-900 animate-fade-in-down dark:text-blue-200"
    >
      {user.name ? user.name : "Jazzy Pants"} is the <span
        class="text-blue-500 animate-pulse"
        >most vaguely penguin-shaped
      </span>developer in the world.
    </h1>
    <button
      aria-label="This button spins the picture in a very annoying way."
      onclick="(
        document.getElementById('pengy').style.transform = 'rotate(0deg)',
        document.getElementById('pengy').style.transition = 'transform 1s',

        setTimeout(() => {
          document.getElementById('pengy').style.transform = `rotate(${Math.floor(Math.random() * 360)}deg)`,
          document.getElementById('pengy').style.transition = 'transform 1s'

        }, 1)

      )"
      class="bg-blue-500 hover:bg-purple-700 hover:scale-110 animate-fade-in-left text-white font-bold py-2 px-4 rounded-full mt-10 mx-auto block transition-all duration-500"
    >
      Click me to trigger your OCD
    </button>
    <div class="flex flex-col items-center justify-center w-full">
      <img
        class="rounded-3xl mx-auto mt-16 mb-4 animate-fade-in-up h-96 w-96"
        id="pengy"
        src="/pengy.png"
        alt="Pengy"
      />
      <h3
        id="boogy"
        class="text-4xl font-bold text-center text-purple-900 animate-fade-in-down dark:text-blue-200"
      >
        You're cool
      </h3>
      <img
        class="rounded-3xl mx-auto mt-16 mb-4 animate-fade-in-up h-96 w-96"
        src={image}
        alt="Our fearless leader"
        id="jdawg"
      />
      <button
        aria-label="This button spins the picture in a very annoying way."
        onclick="(
          document.getElementById('jdawg').style.transform = 'rotate(0deg)',
          document.getElementById('jdawg').style.transition = 'transform 1s',

          setTimeout(() => {
            document.getElementById('jdawg').style.transform = `rotate(${Math.floor(Math.random() * 360)}deg)`,
            document.getElementById('jdawg').style.transition = 'transform 1s'

          }, 1)

        )"
        class="bg-blue-500 hover:bg-purple-700 hover:scale-110 animate-fade-in-left text-white font-bold py-2 px-4 rounded-full mt-10 mx-auto block transition-all duration-500"
      >
        I guess you probably want to spin this one too
      </button>
    </div>
  </main>

  <style>
    .hidden {
      display: none;
    }
  </style>
</Layout>
