---
import Layout from "../layouts/Layout.astro"
import { Image } from "@astrojs/image/components"
import { adjectives, randomAdjective } from "../components/Adjective.astro"
let others = ["Home", "Blog", "Contact", "Portfolio"]
---

<Layout
  title="All about the man, the myth, the legend"
  now="About"
  others={others}
>
  <main class="min-h-screen">
    <h1
      class="text-4xl pt-4 font-bold text-center text-purple-900 animate-fade-in-down"
    >
      Jesse is the <span class="text-blue-500 animate-pulse"
        >{randomAdjective(adjectives)}
      </span>developer in the world.
    </h1>
    <button
      aria-label="This button spins the picture in a very annoying way."
      onclick="(
        document.getElementById('pengy').style.transform = 'rotate(0deg)',
        document.getElementById('pengy').style.transition = 'transform 1s',

        setTimeout(() => {
          document.getElementById('pengy').style.transform = `rotate(${Math.floor(Math.random() * 360)}deg)`,
          document.getElementById('pengy').style.transition = 'transform 1s'

        }, 1)

      )"
      class="bg-blue-500 hover:bg-purple-700 hover:scale-110 animate-fade-in-left text-white font-bold py-2 px-4 rounded-full mt-10 mx-auto block transition-all duration-500"
    >
      Click me to trigger your OCD
    </button>
    <div class="flex flex-col items-center justify-center w-full">
      <Image
        src="/pengy.png"
        alt="Jovial Penguin Logo"
        width={300}
        aspectRatio={1}
        class="rounded-3xl mx-auto mt-16 mb-4 animate-fade-in-up"
        id="pengy"
        format="png"
      />
      <h1
        class="text-4xl font-bold text-center text-purple-900 animate-fade-in-down"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
        laudantium mollitia! Rem, suscipit nesciunt incidunt voluptatum laborum
        aut ducimus repellendus blanditiis laudantium consectetur aspernatur id
        ullam. Tempora quas quos consequatur. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Repellendus ex ad fugit perferendis
        possimus velit, quidem aut libero reprehenderit officiis exercitationem,
        reiciendis recusandae tempora quo deserunt laudantium accusantium enim
        magnam? Saepe cumque necessitatibus voluptate. Placeat aliquam qui quos!
        Mollitia ex molestias soluta possimus tempora esse suscipit sed velit,
        adipisci provident iste. Eaque inventore numquam laborum debitis itaque
        nesciunt? Dolor, deleniti? Eligendi assumenda excepturi quasi,
        consectetur voluptates dolor ea iste temporibus quos, nihil aspernatur
        quod nesciunt ipsa. Cupiditate quas exercitationem praesentium
        temporibus eos eaque libero quaerat delectus alias dolor. Rerum,
        expedita! Repellat molestiae tempora qui, cumque quas quo, corrupti
        neque aliquid repudiandae, autem laudantium. Error provident inventore,
        ipsum suscipit quos vero quaerat veritatis assumenda ratione sunt, fuga
        maxime magnam odit facilis! Blanditiis repellat porro inventore sapiente
        dolorem sint consectetur velit nulla. Quaerat quae magnam reiciendis
        aliquid quisquam laboriosam labore illum quidem non. Tenetur labore
        fugit facere illo fugiat incidunt expedita aperiam! Atque, architecto
        molestias necessitatibus mollitia expedita nulla repellat. Veniam
        accusantium enim dolores nam provident molestias placeat. Minima
        voluptate quasi vitae quaerat suscipit mollitia vel iusto vero, ipsa
        voluptatum possimus dolore. Rerum sequi earum quibusdam! Quibusdam
        commodi sunt, aperiam vel vitae quod! Mollitia praesentium atque
        distinctio sed deserunt perspiciatis autem iusto, quam corrupti
        molestiae at. Odio nihil dolores ipsam reprehenderit perspiciatis? Quo
        ipsa perferendis fuga placeat. Necessitatibus velit id iste ipsa nulla
        beatae modi ex at optio tempore nemo vel debitis saepe, obcaecati
        explicabo dolore voluptatum ratione, suscipit fugiat unde eaque.
        Obcaecati a molestias eligendi corrupti sed totam, ipsa quod dolor
        quibusdam reprehenderit minima odio commodi consequatur deserunt
        aspernatur iure possimus eaque velit maiores voluptatum est assumenda
        exercitationem reiciendis. Delectus, quos! Consequuntur quam fugiat a
        impedit dolores rerum iusto voluptatibus doloribus perspiciatis facere.
        Error soluta aspernatur laboriosam quam voluptas consectetur earum
        maxime corrupti mollitia excepturi vero amet qui, non praesentium neque.
        Et quo, qui minus autem cum temporibus corrupti tempora? Vitae itaque
        facilis dicta neque quod alias explicabo laudantium ut amet voluptate
        dolorem eum eligendi, voluptas, suscipit ullam magnam aspernatur
        corporis! Eveniet iure magni commodi vitae saepe quisquam alias
        provident, consequatur maxime fugit nemo voluptate beatae ut autem
        voluptatibus illo fuga pariatur veritatis, quibusdam inventore enim
        omnis voluptatum! Modi, voluptatum quam? Harum, perspiciatis?
        Necessitatibus, tenetur, nulla fugit iste saepe porro quaerat laudantium
        quae quidem amet molestias suscipit, voluptatem officia fuga aperiam
        iusto dolore? Obcaecati blanditiis ipsum voluptates quod voluptatum
        consectetur modi. Ipsum, obcaecati qui ipsa placeat nemo, natus sunt,
        corporis sed minima quas quod reprehenderit et odit beatae consequatur
        omnis quaerat. Facere consequuntur soluta velit totam est rem eveniet
        pariatur eligendi? Eos accusamus praesentium, magni labore ullam
        obcaecati. Magni libero eius debitis quam consectetur natus beatae
        molestiae unde, iusto amet nemo ratione quaerat possimus laudantium, ex
        aliquam veritatis fuga, deserunt impedit! Ab quaerat animi rerum ratione
        recusandae suscipit. Quaerat pariatur commodi corrupti voluptates
        temporibus itaque recusandae aut! Incidunt doloremque qui natus facilis
        quasi obcaecati, neque earum, totam magni exercitationem ipsam
        consectetur. Provident natus non doloremque assumenda voluptatum unde
        quis explicabo dolorem esse iste ipsam corrupti perferendis, sit,
        debitis magni nemo tempore! Neque, deleniti? Sequi, quas. Labore fugiat
        quod tenetur nobis quisquam. Qui sequi reprehenderit quaerat
        perspiciatis. Pariatur totam commodi quae iusto voluptatibus non,
        cupiditate est quasi a dolor et at ut neque nisi! Sequi ut deserunt
        alias, cumque placeat praesentium maiores. Tempore, similique
        consequuntur minus natus accusantium unde doloribus deleniti.
        Voluptatibus molestiae eaque dolore nihil ut fuga sed dolores,
        repudiandae ab. Velit doloremque amet aut obcaecati non! Natus illum
        delectus mollitia? Nulla, veritatis aperiam? Saepe, ea sit, repellendus
        suscipit voluptatem distinctio cupiditate aperiam voluptatum fuga dolore
        quia ex, possimus laborum. Sit expedita dolorum harum sapiente
        blanditiis ratione fugiat eos porro vero? Eius asperiores sed ea iure?
        Voluptatem distinctio sunt, debitis enim rem quibusdam obcaecati ea
        necessitatibus, eius sit dolorem eaque, laudantium asperiores iste
        delectus assumenda adipisci voluptas sapiente? Doloribus, tempore
        distinctio? Consequatur ea magnam sunt totam in nobis perspiciatis
        veniam adipisci aliquid quisquam. Possimus incidunt laudantium neque
        iste quas quis amet aut, quibusdam ullam aliquid fuga voluptatum, labore
        laboriosam accusantium blanditiis? Nostrum eum animi, vitae ad debitis
        quos repellat minima aliquam alias omnis laboriosam non ipsum
        perferendis dolorum facere eos commodi deserunt quidem eius laborum at?
      </h1>
    </div>
  </main>
</Layout>

<style>
  .hidden {
    display: none;
  }
</style>
