---
import Loader from "../components/Loader.astro"
import Layout from "../layouts/Layout.astro"
let others = ["Home", "Blog", "About", "Portfolio"]
---

<Layout title="My words are important." now="Contact" others={others}>
  <main class="min-h-screen">
    <h1
      class="text-4xl pt-4 font-bold text-center text-orange-900 animate-fade-in-down"
    >
      Jesse is the <span class="text-blue-500 animate-pulse"
        >hardest to contact</span
      > developer in the world.
    </h1>
    <svg
      class="w-64 h-64 mx-auto mt-8 p-0 text-blue-500 animate-spin hover:text-red-600 hover:animate-dance transition-all duration-500 ease-in-out"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
    </svg>
  </main>
</Layout>
