---
import Layout from "../layouts/Layout.astro"
import prisma from "../utils/db"
let others = ["Home", "About", "Contact", "Portfolio"]

const fetchData = async () => {
  const posts = await prisma.post.findMany()
  return posts
}

const posts = await fetchData()
---

<Layout title="My words are important." now="Blog" others={others}>
  <main class="min-h-screen">
    <h1
      class="text-4xl pt-4 font-bold text-center text-purple-900 animate-fade-in-down"
    >
      Listen to my words, you <span class="text-blue-500 animate-pulse"
        >heathens!</span
      >
    </h1>
    <div>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.permalink}`}>{post.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
