---
const { slug } = Astro.props
---

<p
  class="codepen"
  data-height="300"
  data-default-tab="html,result"
  data-slug-hash={slug}
  data-preview="true"
  data-editable="true"
  data-user="jesse-pence"
>
  <span
    >See the Pen <a href=`https://codepen.io/jesse-pence/pen/${slug}`>
      Navigation API 1</a
    > by Jesse Pence (<a href="https://codepen.io/jesse-pence">@jesse-pence</a>)
    on <a href="https://codepen.io">CodePen</a>.</span
  >
</p>
<script defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
