---
const { slug } = Astro.props
---

<p
  class="codepen"
  data-height="300"
  data-default-tab="html,result"
  data-slug-hash={slug}
  data-preview="true"
  data-editable="true"
  data-user="jesse-pence"
  data-slot="codePen"
>
  <a href={`https://codepen.io/jesse-pence/pen/${slug}`}>Check out this pin</a> by
  Jesse Pence (<a href="https://codepen.io/jesse-pence">@jesse-pence</a>) on <a
    href="https://codepen.io">CodePen</a
  >.
</p>

<script defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
