<button
  id="theme-toggle"
  class="fixed bottom-0 right-0 m-4 p-2 rounded-full bg-purple-400 hover:bg-purple-500 text-purple-900 hover:text-purple-100 shadow-slate-500 shadow-2xl border-purple-800 border-transparent hover:border-solid animate-float-slow hover:animate-nudge-y tracking-wide focus:outline-none"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-8 w-8"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
  </svg>
</button>
