---
let { extraStyle, src, id, small } = Astro.props as {
  extraStyle: string | undefined
  src: string | undefined
  id: string | undefined
  small: boolean
}

extraStyle = small
  ? "height: 250px; background-color: #ccc;" + extraStyle
  : "height: fit-content; background-color: #ccc;" + extraStyle

let randomID = Math.random().toString(36).substring(2, 15)

id = id || randomID

function removeAllParamsFromLink(link: string | undefined) {
  if (!link) return link
  return link.split("?")[0]
}
---

<div data-slot="demo" class="w-full flex flex-col items-center justify-center">
  <iframe
    style={`aspect-ratio: 16/9; width: 100%; border: 2px solid #000; border-radius: 10px; shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4); ${extraStyle}`}
    src={src}
    id={id}
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>
  {
    !src?.startsWith("https://www.youtube.com") && (
      <a
        href={removeAllParamsFromLink(src)}
        target="_blank"
        rel="noopener noreferrer"
      >
        <button class="bg-purple-500 hover:bg-purple-700 text-white text-sm font-bold py-2 px-4 rounded-2xl hover:translate-y-1 transform transition duration-500 ease-in-out">
          Click here to open in a new tab
        </button>
      </a>
    )
  }
</div>
