---
export interface Props {
  warning?: boolean
  hint?: boolean
}

const { warning, hint } = Astro.props

function classFinder() {
  if (warning) {
    return "bg-red-800 border-red-400 text-red-200 shadow-red-400"
  } else if (hint) {
    return "bg-blue-800 border-blue-400 text-blue-200 shadow-blue-400"
  } else {
    return "bg-green-800 border-green-400 text-green-200 shadow-green-400"
  }
}

function titleFinder() {
  if (warning) {
    return "Warning!!"
  } else if (hint) {
    return "Pro Tip!"
  } else {
    return "Note:"
  }
}
---

<div
  class={`px-4 py-3 rounded-2xl relative flex items-center flex-col indent-0 shadow-lg border-l border-b border-r-2 ${classFinder()} mb-4 mt-2`}
  role="alert"
>
  <span class="font-bold">{titleFinder()}</span>
  <span class="block sm:inline">
    <slot />
  </span>
</div>
