<div
  class="animate-fade-in-down h-12 w-12 absolute top-4 left-1/2 z-50"
  id="loader"
>
  <div
    class="h-12 w-12 border-t-4 border-b-4 border-orange-500 rounded-xl animate-spin </div>"
  >
  </div>
</div>
