---
import { getCollection } from "astro:content"

const articles = await getCollection("articles")

const currentPage = Astro.url.pathname
const currentBlog = currentPage.split("/")[2]

const thisBlog = articles.filter((article) => {
  return article.id.split("/")[0] === currentBlog
})

const sortedBlog = thisBlog.sort((a, b) => {
  const aIdParts = a.id.split("/")[1].split("-")
  const bIdParts = b.id.split("/")[1].split("-")
  const aNum = parseInt(aIdParts[0], 10)
  const bNum = parseInt(bIdParts[0], 10)
  if (aNum !== bNum) {
    return aNum - bNum
  }

  return a.id.localeCompare(b.id)
})

const blogWithoutSubArticles = sortedBlog.filter((article) => {
  const idAfterFolder = article.id.split("/")[1]
  const subParts = idAfterFolder.split("-")
  return subParts.length === 2 || isNaN(parseInt(subParts[1], 10))
})
---

<ol class="prose pl-4 ml-4 mt-4 list-decimal">
  {
    blogWithoutSubArticles.map((article) => {
      return (
        <li>
          <a
            class="text-blue-600 dark:text-green-500 text-lg dark:hover:text-green-300"
            href={`/articles/${article.slug}`}
          >
            {article.data.title}
          </a>
        </li>
      )
    })
  }
</ol>
