<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tell me this isn't an SPA</title>
  </head>
  <body>
    <button id="btn">Click me to see your current path.</button>
    <div class="App">I'm waiting...</div>
    <script defer>
      let App = document.querySelector(".App")
      let button = document.querySelector("#btn")

      let path = window.location.pathname

      button.addEventListener("click", () => {
        App.innerHTML = "The path is currently " + path
        button.innerHTML = "This works with ANY path!"
      })

      console.log(window)
    </script>
  </body>
</html>
