#table {
  width: fit-content;
  border-collapse: collapse;
}

#table td {
  border: 1px solid #000000;
  padding: 6px 4px;
  margin: 10px;
}

#table th {
  background-color: #000000;
  border: 1px solid #222;
  padding: 10px 2px;
  margin: 10px;
}

#table tr {
  width: 100%;
  padding: 3px 2px;
  margin: 10px;
}
