---
import Layout from "./Layout.astro"

let others = ["Home", "About", "Contact", "Portfolio"]
---

<Layout now="Blog" others={others}>
  <div
    class="mx-auto max-w-4xl rounded-lg bg-blue-200 px-4 py-8 shadow-2xl dark:bg-gray-800 sm:px-6 lg:px-8"
  >
    <slot />
  </div>
</Layout>
