---
export interface Props {
  title?: string
  now: string
  others: Array<string>
}

import Nav from "../components/Nav.astro"

import "../styles/global.css"

const { title = "Jessedit", now, others } = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap"
  rel="stylesheet"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<body
  class="bg-purple-300 text-purple-900 antialiased text-lg tracking-wide dark:bg-purple-800 dark:text-purple-200 scroll-behavior-smooth overflow-x-hidden max-w-full"
>
  <nav
    class="shadow-slate-500 shadow-2xl fixed overflow-hidden mt-0 flex-col items-center justify-between flex-wrap rounded-b-3xl border-b-2 bg-purple-400 p-4 m-4 w-min h-16 z-10 hover:h-max border-purple-800 border-transparent hover:border-solid animate-float-slow hover:animate-nudge-y tracking-wide focus:outline-non opacity-40 hover:opacity-100 transition-all duration-500"
  >
    <Nav now={now} others={others} />
  </nav>
  <img
    src="/default.png"
    class="w-24 h-24 block ml-auto mr-4 px-2 bg-purple-300 rounded-full shadow-blue-500 shadow-2xl border-transparent hover:border-solid hover:animate-pulse tracking-wide focus:outline-none opacity-30 hover:opacity-100 transition-all duration-500"
  />
  <slot />
  <button
    id="theme-toggle"
    class="fixed bottom-0 right-0 m-4 p-2 rounded-full bg-purple-400 hover:bg-purple-500 text-purple-900 hover:text-purple-100 shadow-slate-500 shadow-2xl border-purple-800 border-transparent hover:border-solid animate-float-slow hover:animate-nudge-y tracking-wide focus:outline-none opacity-30 hover:opacity-100 transition-all duration-500"
  >
  </button>
  <footer
    class="animate-fade-in-up fixed bottom-4 left-2 text-sm transform p-2 cursor-crosshair rounded-full bg-purple-400 text-purple-900 hover:text-purple-100 tracking-wide shadow-slate-500 shadow-2xl border-transparent hover:border-solid hover:border-4 border-blue-800 animate-float-slow transition-all duration-1000 ease-in-out hover:scale-90 opacity-30 hover:opacity-100"
  >
    <p class="text-center text-purple-900">Jovial Penguin, LLC © 2023</p>
  </footer>
</body>

<script>
  // Get the user's preferred theme
  const theme = localStorage.getItem("theme")

  // Get the theme toggle button
  const themeToggle = document.getElementById("theme-toggle")

  // Add a click listener to the toggle button
  themeToggle?.addEventListener("click", toggleTheme)

  // If the user has previously selected a theme, or if their
  // preferred theme is dark, then set the theme to dark
  if (
    theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark")
    themeToggle ? (themeToggle.textContent = "🌞") : null
    themeToggle?.setAttribute("aria-label", "Switch to light mode")
  } else {
    // Otherwise, set the theme to light
    document.documentElement.classList.remove("dark")
    themeToggle ? (themeToggle.textContent = "🌙") : null
    themeToggle?.setAttribute("aria-label", "Switch to dark mode")
  }

  function toggleTheme() {
    // If the current theme is dark...
    if (document.documentElement.classList.contains("dark")) {
      // ... then switch to light
      localStorage.setItem("theme", "light")
      document.documentElement.classList.remove("dark")
      themeToggle ? (themeToggle.textContent = "🌙") : null
      themeToggle?.setAttribute("aria-label", "Switch to dark mode")
    } else {
      // Otherwise, switch to dark
      localStorage.setItem("theme", "dark")
      document.documentElement.classList.add("dark")
      themeToggle ? (themeToggle.textContent = "🌞") : null
      themeToggle?.setAttribute("aria-label", "Switch to light mode")
    }
  }
</script>
