---
import ArticleLayout from "../../../layouts/ArticleLayout.astro"

const articles = await Astro.glob("../../../components/md/csr/*.mdx")

const { slug } = Astro.params

const article = articles.find((article) => slug === article.frontmatter.slug)
const { frontmatter, Content } = article
---

<ArticleLayout>
  <a
    class="Link text-center m-auto text-purple-400 dark:text-purple-600"
    href="../../../blog/client-side-routing-1">Back to the Table of Contents</a
  >
  <h1
    class="text-4xl font-bold text-center text-purple-600 dark:text-purple-400"
  >
    {frontmatter.title}
  </h1>
  <article
    class="text-xl flex flex-col justify-center items-center tracking-wide list-disc"
  >
    <Content />
    <a
      class="Link cursor-pointer text-blue-600 text-3xl self-end"
      href={frontmatter.nextLink}>Next Page!</a
    >
  </article>
</ArticleLayout>
